body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: grid;
    place-items: center;
}
#outer{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 2px black solid;
    display: grid;
    place-items: center;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: red;
    border: 2px black solid;
    display: flex;
    align-items: center;
}