*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(34, 34, 200, 0.788);
}
#total_form{
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 100px 420px;
     background-color: white;
     height: 70vh;
     width: 30vw;
     border-radius: 10px;
}
#total_form_one>h3{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
}
label{
    font-size:12px;
    font-weight: 500;
}
input{
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.366);
    width: 0px;
    height: 0px;
    height: 26px;
    border-radius: 2px ;
}
input:hover{
    width: 230px;
}
#register{
background-color: rgb(51, 51, 184);
color: white;
font-weight: 500;
padding: 5px;
}
p{
    font-size: 12px ;

}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#login{
    color: rgb(50, 50, 243);
    font-weight: 500;
}
